@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<h1>사용자 번호: @Model.UserNo</h1>
    <h1>사용자 이름: @Model.UserName</h1>*@

@*<h2>사용자 번호: @ViewBag.User.UserNo</h2>
<h2>사용자 이름: @ViewBag.User.UserName</h2>*@

<h3>사용자 번호: @ViewData["UserNo"]</h3>
<h3>사용자 이름: @ViewData["UserName"]</h3>